<div class="panel panel-info rightbody">
	<div class="panel-heading">
		<h3 class="panel-title">
			<i class="icon-user"></i> 个人资料
		</h3>
	</div>
	<div class="panel-body">
		<form id="myself" class="form-inline" role="form"
			action="user/myself.action" method="post">
			<div class="row" align="center">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="form-label">用户</label>
						<input type="text" class="form-control" name="username" id="username" readonly="readonly">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="form-label">角色</label> 
						<input type="text" class="form-control" name="role" id="role" readonly="readonly">
					</div>
				</div>
			</div>
			<br />
			<div class="row" align="center">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="form-label">状态</label>
						<input type="text" class="form-control" name="status" id="status" readonly="readonly">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="form-label">创建时间</label>
						<input type="text" class="form-control" name="timeCreate" id="timeCreate" readonly="readonly">
					</div>
				</div>
			</div>
			<br />
			<div class="row" align="center">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="form-label">上次访问IP</label>
						<input type="text" class="form-control" name="lastIP" id="lastIP" readonly="readonly">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="form-label">访问时间</label>
						<input type="text" class="form-control" name="timeView" id="timeView" readonly="readonly">
					</div>
				</div>
			</div>
		</form>
	</div>
	<br /> <br />
</div>



<script type="text/javascript">
<!--
	$(function () {
		simpleAjax(null, "user/myself.action", myselfInfo);
	});
	
	function myselfInfo(data){
		console.log(data);
	}
//-->
</script>
