<div class="panel panel-info rightbody">
	<div class="panel-heading">
		<h4 class="panel-title">
			<i class="icon-search"></i> 查询条件
		</h4>
	</div>
	<div class="panel-body">
		<form class="form-inline" role="form">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label class="form-label">Search</label> 
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label class="form-label">Search</label> 
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label class="form-label">Search</label> 
						<input type="text" class="form-control">
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="panel-heading">
		<h4 class="panel-title">
			<i class="icon-table"></i> 用户列表
		</h4>
	</div>
	<div class="panel-body">
		<div style="margin-bottom: 5px;">
			<button id="btnAdd" class="btn">添加到第三行</button>
			<button id="btnAddArr" class="btn">添加列表到第二行</button>
			<button id="btnRemove" class="btn">删除第二行</button>
			<button id="btnRemoveSelected" class="btn">删除选择的行</button>
			<button id="btnRemoveAll" class="btn">删除全部行</button>
			<button id="btnUpdate" class="btn">更新第二行</button>
			<input id="secucode" placeholder="查询条件:股票代码"
				style="margin-left: 20px;">
			<button id="btnSearch" class="btn">搜索</button>
		</div>
		<table id="mmg" class="mmg">
			<tr>
				<th rowspan="" colspan=""></th>
			</tr>
		</table>
		<div id="pg" style="text-align: right;"></div>
	</div>
</div>
